$color-primary: #6647EE;
$color-primary-highlight: #5436D9;

$color-danger: #ef486e;

$color-page-bg: #f8f9fb;
$color-content-bg: #fff;

$color-text-regular: #34294a;
$color-text-dark: #1A051D;
$color-text-light: #555;
$color-text-white: #fff;
$color-text-placeholder: #c6bcce;

$color-border: #CEC7ED;

$color-shadow: rgba(#836CEA, .05);
$color-shadow-highlight: rgba(#836CEA, .09);
