@import "colors";

$border-radius-small: 6px;
$border-radius-default: 8px;

$box-shadow-default: 0px 7px 10px 0px $color-shadow;
$box-shadow-default-highlight: 0px 7px 12px 0px $color-shadow-highlight;
