@import "../../assets/scss/variables";

.component.-user-bar {
  color: $color-text-regular;

  &:hover,
  &.active {
    color: $color-primary;
    text-decoration: underline;
  }

  .photo {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    background: #ccc;
    border-radius: 12px;
  }
}
