@mixin font-face ($name, $style, $weight, $path, $svg-id) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url("#{$path}.woff2") format("woff2"),
    url("#{$path}.woff") format("woff"),
    url("#{$path}.svg##{$svg-id}") format("svg");
  }
}
