// app
@import "reset";
@import 'typography';
@import 'utils';
@import 'variables/index';

// dependencies
@import '/node_modules/tippy.js/dist/tippy.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-default;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  background: $color-page-bg;
  color: $color-text-regular;
}

::-webkit-input-placeholder { color: $color-text-placeholder; }
::-moz-placeholder { color: $color-text-placeholder; }
:-ms-input-placeholder { color: $color-text-placeholder; }

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }
}

.container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;

  &.-narrow {
    width: 330px;
  }
}

[data-tippy-root] {
  .tippy-box {
    background: $color-text-dark;
    transform: translate(12px, 0);
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
  }

  .tippy-content {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 16px;
  }

  .tippy-arrow {
    width: 12px;
    height: 12px;
    margin-left: -14px;
    color: $color-text-dark;

    &:before {
      bottom: -6px;
      border-width: 6px 6px 0;
    }
  }
}
