@import "src/assets/scss/variables";

.component.-modal {
  max-height: 100%;
  position: absolute;

  &:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    top: 0;
    left: 0;
  }

  .bg {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    top: 0;
    left: 0;
  }

  .dialog {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    z-index: 1010;
    border: none;
    padding: 28px 32px 32px;
    background: $color-modal-bg;
    color: $color-text-regular;
    border-radius: $border-radius-default;
    display: block;
    margin-bottom: 40px;
  }

  .head {
    margin-bottom: 10px;
  }

  &.-size {
    &-default {
      dialog {
        padding: 50px 50px;
        width: 460px;
      }
    }

    &-auto {
      dialog {
        padding: 40px 60px 35px;
        width: auto;
      }
    }
  }

  .body {
    .modal-title {
      font-size: 19px;
      line-height: 24px;
      color: $color-text-regular;
      font-weight: $font-weight-semibold;
    }

    .modal-subtitle {
      margin-top: 5px;
      font-size: 13px;
      line-height: 16px;
      color: $color-text-faded;
    }

    .modal-buttons {
      margin-top: 30px;
    }
  }
}
