@import "src/assets/scss/variables";

.component.-password-field {
  position: relative;

  .icons {
    position: absolute;
    z-index: 1;
    bottom: 13px;
    right: 24px;
  }

  input {
    padding-right: 110px;
  }
}
