@import "../../../assets/scss/variables";

.button.-component {
  & > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-height: 48px;
    padding: 15px 24px 16px;
    border: none;
    border-radius: $border-radius-default;

    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .2px;
    text-decoration: none !important;

    background: $color-primary;
    color: $color-text-white;
    cursor: pointer;
    transition: $transition-button;

    & > .icon {
      margin-right: 8px;
    }

    &:hover {
      background: $color-primary-highlight;
    }

    &:focus {
      background: $color-primary-highlight;
    }
  }

  .loader {
    position: absolute;
    color: $color-text-white;
  }

  &.-theme {
    &-default {}

    &-ghost {
      & > * {
        background: rgba($color-primary, .06);
        //background: transparent;
        color: $color-primary;

        &:hover {
          background: rgba($color-primary, .12);
        }
      }
    }
  }

  &.-size {
    &-default {}

    &-small {
      & > * {
        padding: 11px 16px 12px;
        font-size: 13px;
        line-height: 16px;
        min-height: 40px;

        .icon {
          margin-right: 6px;
        }
      }
    }
  }

  &.-full-width {
    & > * {
      width: 100%;
    }
  }

  &.-loading {
    & > * {
      pointer-events: none;
    }
  }
}
