@import "src/assets/scss/variables";

.component.-item-list {
  &.-empty {
    height: 100%;

    & > * {
      height: 100%;
      font-size: 13px;
      line-height: 18px;
      color: $color-text-faded;
    }

    .button-parent {
      margin-top: 10px;
    }
  }
}
