@import "src/assets/scss/variables";

.component.-item {
  padding: 12px 16px;
  background: $color-content-bg;
  border-radius: $border-radius-default;
  transition: $transition-item;

  .head {
    cursor: pointer;
  }

  .image {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
    background: #f9b6cd;
  }

  .content {
    margin-top: 1px;
  }

  .title {
    font-size: 15px;
    line-height: 18px;
  }

  .subtitle {
    margin-top: 2px;
    font-size: 12px;
    line-height: 14px;
  }

  .fields {
    margin-top: 30px;

    & > * {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }

  &:hover {
    box-shadow: $box-shadow-default;
  }

  &.-mode {
    &-large {
      padding: 22px 26px;
    }
  }
}
