@import "../../assets/scss/variables";

.component.-header {
  padding: 30px 0;
  margin-bottom: 50px;

  nav {
    a {
      color: $color-text-regular;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover,
      &.active {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }

  .right {
    & > a {
      text-decoration: none;
    }

    & > * {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
