@import "../../../assets/scss/variables";

.input.-component {
  position: relative;

  input {
    width: 100%;
    padding: 15px 21px;
    padding-right: 58px;

    font-family: $font-family-default;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .1px;

    border: 1px solid transparent;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
    transition: $transition-field;

    color: $color-text-regular;

    &:focus {
      border-color: $color-border;
      box-shadow: $box-shadow-default-highlight;
    }
  }

  .buttons {
    position: absolute;
    top: 16px;
    right: 21px;
    z-index: 1;
  }

  .icon-error {
    color: $color-danger;
    cursor: text;
  }

  &.-disabled,
  &.-readonly {
    .icon-error {
      cursor: default;
    }
  }
}
