@import "../../../assets/scss/variables";

.input.-component {
  position: relative;

  label {
    display: block;
    margin-bottom: 10px;
    color: $color-text-faded;
    font-size: 13px;
    line-height: 16px;
  }

  textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 60px;
    padding: 15px 21px;
    padding-right: 58px;

    font-family: $font-family-default;
    font-size: 15px;
    line-height: 18px;
    font-weight: $font-weight-medium;
    letter-spacing: .1px;

    //border: 1px solid transparent;
    border: none;
    border-radius: $border-radius-default;
    background: $color-content-bg;
    box-shadow: $box-shadow-default;
    transition: $transition-field;

    color: $color-text-regular;

    &:focus {
      //border-color: $color-border;
      box-shadow: $box-shadow-default-highlight;
    }
  }

  .buttons {
    position: absolute;
    top: 16px;
    right: 21px;
    z-index: 1;
  }

  .icon-error {
    color: $color-danger;
    cursor: none;
  }

  &.-theme {
    &-default {}

    &-clean {
      input {
        padding: 0;
        box-shadow: none;
        background: transparent;
        border: none;
        border-radius: 0;
      }
    }
  }

  &.-disabled,
  &.-readonly {
    .icon-error {
      cursor: default;
    }
  }
}
